.page {
  background-color: #000000;
}

.line {
  outline: solid 1px red;
}

.header {
}

.header__container {
  max-width: 880px;
  min-height: 74px;
  margin: auto;
  margin-top: 45px;
  border-bottom: solid 1px #343333ed;
}

@media screen and (max-width: 767px) {
  .header__container {
    max-width: 266px;
    min-height: 56px;
    margin-top: 28px;
  }
}

.header__logo {
  width: 142px;
  height: 33px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 104px;
    height: 24px;
  }
}

.footer__note {
  margin: 0 auto;
  font: normal 400 18px/1.22 "Inter", Arial, Helvetica, sans-serif;
  color: #545454;
  max-width: 880px;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer__note {
    font-size: 14px;
    line-height: 1.21;
    color: #545454;
    max-width: 282px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
