.popup__container {
  max-width: 430px;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 36px;
  padding-right: 36px;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
