.profile__add-btn {
  border: solid 2px #ffffff;
  background-color: #000000;
  background: no-repeat url("../../../images/add-icon.svg");
  background-position: 50% 50%;
  background-size: 22px 22px;
  padding: 0;
  border-radius: 2px;
  min-width: 146px;
  min-height: 46px;
  display: flex;
  align-items: center;
  transition: linear 0.3s;
}

.profile__add-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__add-btn {
    background-size: 16px 16px;
    width: 278px;
    height: 46px;
    margin-top: 36px;
  }
}
