.profile__image-box {
  min-width: 168.75px;
  min-height: 127.5px;
  overflow: hidden;
  margin-right: 3.75px;
  margin-left: -24.375px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile__image-box {
    margin: auto;
  }
}
