.popup__save-btn {
  background-color: #000000;
  border-radius: 2px;
  width: 358px;
  min-height: 50px;
  padding: 0;
  margin-bottom: 37px;
  margin-top: 48px;
  transition: linear 0.3s;
  font: normal 400 18px/1.22 "Inter", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .popup__save-btn {
    width: 238px;
    min-height: 46px;
    margin-bottom: 25px;
    margin-top: 45px;
  }
}

.popup__save-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
